# Ignore virtual environments
venv/
experiments/1_prelearning/venv/
experiments/2_modularization_Ollama/exp_2_venv/
aider/venv/

# Configuration and environment files
**/.env
**/*.yml
**/.aider.conf.yml
.aider*

# Ignore aider related files and directories
aider/
aider/**

# Ignore other common files
*.log
*.tmp
*.bak
