C:\school_board_library\experiments\1_prelearning\venv
C:\school_board_library\experiments\2_modularization_Ollama\exp_2_venv
C:\school_board_library\aider\venv


# Configuration and environment files
**/.env
**/*.yml
**/.aider.conf.yml
.aider*
